APP_SECRET=b6ef032e8b8354f7271fca1090413948

DATABASE_URL = postgres://username:password@localhost:5432/db-name
ENTITIES = ./src/modules/**/infra/typeorm/entities/*.ts
MIGRATIONS = ./src/shared/infra/typeorm/migrations/*.ts
